<h1 class="text-center mt-4" >Articles</h1>

<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>


<%= render "article", articles: @articles%>

<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>