<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @category, class: "shadow p-3 mb-3 bg-secondary rounded", local: true) do |form| %>

      <%= render "shared/errors", obj: @category %>

        <div class="form-group row">
          <%= form.label :name , "Category name",  class: "col-2 col-form-label text-light"%>
          <div class="col-10 shadow rounded">
            <%= form.text_field :name, class:"form-control", placeholder: "Name of the Category"%>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit  class: "btn btn-outline-light btn-lg"%>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= link_to '[ Cancel and return to Articles Listing ]', articles_path %>
    </div>
  </div>
</div>